statemachine/task_watcher.asl.json
{
    "Comment": "State machine for watching stax tasks",
    "StartAt": "Get Task Status",
    "States": {
        "Get Task Status": {
            "Type": "Task",
            "Comment": "Fetch task status",
            "End": true,
            "Resource": "${GetTaskStatusArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.Unknown"
                    ],
                    "IntervalSeconds": 15,
                    "MaxAttempts": 5,
                    "BackoffRate": 1.5
                }
            ]
        },
        "Has task succeeded?": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.task_status",
                "StringEquals": "SUCCEEDED",
                "Next": "Success"
              },
              {
                "Variable": "$.task_status",
                "StringEquals": "PENDING",
                "Next": "Wait for task to complete"
              },
              {
                "Variable": "$.task_status",
                "StringEquals": "RUNNING",
                "Next": "Wait for task to complete"
                }
            ],
            "Default": "Task Failure"
          },
          "Wait for task to complete": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "Has task succeeded?"
        },
        "Success": {
            "Type": "Succeed"
        },
        "Task Failure": {
            "Type": "Fail"
        }
    }
}
